<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=divice-width, initial-scale=1">
        <title>フォトサウンド</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    </head>
    <body>
        <div class="background">
            <img src="{{ url_for('static', filename='img/icon.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/icon-flip.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/icon.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/icon-flip.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/icon.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/icon-flip.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/icon.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/icon-flip.png') }}" alt="">
        </div>
        <div class="main">
            <h3 class="title">
                フォトサウンド
            </h3>
            <div class="content">
                <form method="POST" action="/generate" enctype="multipart/form-data">

                    <label>
                        画像を選択
                        <input id="finput" class="btn btn-solid" type="file" name="file">
                    </label>
                    　
                    <label>
                        生成する
                        <input class="btn btn-solid" type="submit" id="content_submit">
                    </label>
                </form>
            </div>
            <img src="" id="tl_img" alt="画像を選択してください" class="display_pic">
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drag-and-drop.js') }}"></script>

</html>